extends layout

block content
  h1 Trending Wikipedia Articles
  //- #{JSON.stringify(articles)}
  each shop in shops
    .item
      button.shopName #{shop.name}
  
  script(src='/javascripts/summary.js')
